<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>My favorite restaurant</title>
  </head>
  <body>
    <h1></h1>

    <form action="/cuisine" method="post">
      <label for="type">Add cuisine:</label>
      <input id="type" name="type" type="text">
      <button type="submit">Add this awesome restaurant</button>
    </form>

  </body>
</html>
